@import url("./common.css");

body {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  /* align-items: center; 수직 중앙 정렬 */
  /* height: 100vh; 화면 전체 높이에 맞춤 */
  margin: 0; /* body의 기본 마진 제거 */
  font-size: 22px;
  font-weight: bolder;
}

section.main_section {
  margin-top: 60px;
}

section.main_section .main_contents {
  width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
section.main_section .main_contents .todoUl .todoLi {
  display: flex;
}
section.main_section .main_contents .todoUl .todoLi .checkbox {
  display: flex;
}
section.main_section .main_contents .todoUl .todoLi .checkbox .input_checkbox {
  /* border: solid red 1px; */
  width: 80px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
section.main_section .main_contents .todoUl .todoLi .checkbox .todo_text {
  /* border: solid violet 1px; */
  width: 910px;
  margin-left: 50px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  word-wrap: break-word; /*줄바꿈*/
}
section.main_section .main_contents .todoUl .todoLi .date {
  /* border: solid greenyellow 1px; */
  width: 140px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
